.navbar{
    display: flex;
    align-items: center;
    padding: 42px 0px;
    margin-bottom: 64px;
    grid-column: 2/12;
    .navbar__content{
        flex-grow: 1;
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li{
                margin-left: 24px;
            }
        }
    }
}