<h1>Welcome admin</h1>
<a href="/user/logout">Logout</a>
<br>
<a href="/admin/create/course">Create Course</a>
<br>
<a href="/admin/courses">All Courses</a>
<br>
<a href="/admin/users">All Users</a>
<%- include("../partials/messages") %>
