<table>
    <thead>
        <tr>
            <th>Pořadí</th>
            <th>Název</th>
            <th>Popis</th>
        </tr>
    </thead>
    <tbody>
        <% if(section.lessons.length) { %>
            <% section.lessons.forEach(lesson => { %>
                <tr>
                    <td>1</td>
                    <td><%= lesson.title %></td>
                    <td><%= lesson.description %></td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
</table>