<% if(typeof errors !== "undefined") { %>
    <% errors.forEach(error => { %>
        <div class="alertMessage error">
            <div class="alertMessage__left">
                <i class="ri-error-warning-line error"></i>
                <i class="ri-checkbox-circle-line success"></i>
                <p><%= error.msg %></p>
            </div>
            <div class="alertMessage__right">
                <i class="ri-close-line"></i>
            </div>
        </div>
    <%})%>
<% } %>

<% if(success_msg.length !== 0) { %>
    <div class="alertMessage success">
        <div class="alertMessage__left">
            <i class="ri-error-warning-line error"></i>
            <i class="ri-checkbox-circle-line success"></i>
            <p><%= success_msg %></p>
        </div>
        <div class="alertMessage__right">
            <i class="ri-close-line"></i>
        </div>
    </div>
<% } %>

<% if(error_msg.length !== 0) { %>
    <div class="alertMessage error">
        <div class="alertMessage__left">
            <i class="ri-error-warning-line error"></i>
            <i class="ri-checkbox-circle-line success"></i>
            <p><%= error_msg %></p>
        </div>
        <div class="alertMessage__right">
            <i class="ri-close-line"></i>
        </div>
    </div>
<% } %>

<% if(error.length !== 0) { %>
    <div class="alertMessage error">
        <div class="alertMessage__left">
            <i class="ri-error-warning-line error"></i>
            <i class="ri-checkbox-circle-line success"></i>
            <p><%= error %></p>
        </div>
        <div class="alertMessage__right">
            <i class="ri-close-line"></i>
        </div>
    </div>
<% } %>