<nav>
    <div>
        <a href="/home">Learning Platform</a>
    </div>
    <ul>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
    </ul>
</nav>