.createCourse__container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 160px;
    .createCourse__left{
    }

    .createCourse__right{
        background-color: black;
    }
}