<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/index.js"></script>
    <script defer src="/js/fileUploader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Bingule - <%= pageTitle %></title>
</head>
<body>
    <div class="admin__wrapper">
        <aside class="admin__sidebar">
            <header class="admin__sidebar--logo">
                <div><img src="/images/logo.svg" alt="logo"></div>
            </header>
            <nav class="admin__sidebar--links">
                <ul>
                    <li class="active">
                        <a href="/admin"><i class="ri-dashboard-2-line"></i>Nástěnka</a>
                    </li>
                    <li>
                        <a href="/admin/courses"><i class="ri-book-open-line"></i>Kurzy</a>
                    </li>
                    <li>
                        <a href="/admin/users"><i class="ri-user-line"></i>Uživatelé</a>
                    </li>

                </ul>
            </nav>
            <footer class="admin__sidebar--footer">
                <a href="/admin/create/course">+</a>
            </footer>
        </aside>
        <main class="admin__content">
            <header class="admin__content__header">
                <div class="admin__header--left">
                    <div class="btn--back btn--tool">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                    <div class="btn--forward btn--tool">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                    <div class="input--search btn--tool">
                        <i class="ri-search-line"></i>
                        <input type="text" name="search" placeholder="Co hledáš?">
                    </div>
                </div>
                <div class="admin__header--right">
                    <div class="admin__btnOption">
                        <i class="ri-more-fill btn--tool"></i>
                    </div>
                </div>
            </header>
            <section class="admin__content__body">
                <h2 class="admin__body--title"><%= pageTitle %></h2>
                <%-body%>
            </section>
        </main>
    </div>

</body>
</html>