<section class="auth-wrapper__left">
    <div class="auth-wrapper__left__content">
        <h1>Registrací získáte skvělé výhody</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer pellentesque quam vel velit. In enim a arcu imperdiet malesuada. Curabitur vitae diam non enim vestibulum interdum. Phasellus faucibus molestie nisl. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
        <a href="#" class="btn btn--outlined">Zjistit více</a>
    </div>
</section>
<section class="auth-wrapper__right">
    <form method="POST">
        <div class="auth-wrapper__right__header">
            <h2>Vítejte v Bingule</h2>
            <p>Už máte účet? <a href="/user/login" class="link--normal">Přihlaste se</a></p>
        </div>
        <%- include("../partials/messages") %>
        <div class="auth-wrapper__right__body">
            <div class="input__flexContainer">
                <div class="inputField">
                    <label for="first">Jméno</label>
                    <input type="text" name="first" id="first" value="<%= typeof first !== "undefined" ? first : "" %>">
                </div>
                <div class="inputField">
                    <label for="last">Přijmení</label>
                    <input type="text" name="last" id="last" value="<%= typeof last !== "undefined" ? last : "" %>">
                </div>
            </div>
            <div class="inputField">
                <label for="email">E-mailová Adresa</label>
                <input type="email" name="email" id="email" value="<%= typeof email !== "undefined" ? email : "" %>">
            </div>
            <div class="input__flexContainer">
                <div class="inputField">
                    <label for="password">Heslo</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="inputField">
                    <label for="password2">Heslo Znovu</label>
                    <input type="password" name="password2" id="password2">
                </div>
            </div>
            <div class="btn__container">
                <input type="submit" class="btn btn--filled" value="Zaregistrovat se"> 
            </div>
        </div>
    </form>
</section>
