body, textarea {
  font-family: "Mulish", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 120%;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3, i {
  font-size: 24px;
}

p, input:not(.btn), textarea {
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
}

.btn {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.btn--small {
  font-size: 14px;
  font-weight: 600;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #F6F6FA;
}

.btn {
  padding: 18px 48px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.btn--outlined {
  border: 1px solid #000;
  color: #000;
  background-color: none;
}

.btn--filled {
  background-color: #000;
  color: #fff;
}

.inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.inputField label {
  margin-bottom: 8px;
  font-weight: 700;
}

.inputField input, .inputField textarea {
  padding: 12px 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

input {
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #DCE1DE;
}

input:-ms-input-placeholder {
  color: #DCE1DE;
}

input::-ms-input-placeholder {
  color: #DCE1DE;
}

input::placeholder {
  color: #DCE1DE;
}

textarea {
  resize: vertical;
  height: 100%;
}

.input__flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input__flexContainer .inputField {
  width: 48.5%;
}

.input__gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 3%;
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn__container .btn:not(:last-child) {
  margin-right: 12px;
}

.uploadPreview__field {
  position: relative;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  padding: 18px;
}

.uploadPreview__field input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.uploadPreview__field input:hover ~ .uploadPreview__field--ghost {
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.uploadPreview__field .uploadPreview__field--ghost {
  position: absolute;
  top: 18px;
  bottom: 18px;
  left: 18px;
  right: 18px;
  border-radius: 5px;
  border: 4px dashed #F6F6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.uploadPreview__field .uploadPreview__field--ghost > i {
  font-size: 64px;
  color: #F6F6FA;
}

.uploadPreview__field .uploadPreview__field--ghost > .uploadPreview__previewImage {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  left: 0;
}

.uploadPreview__field .uploadPreview__field--ghost > .uploadPreview__previewImage > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.uploadPreview__field .uploadPreview__field--ghost > .uploadPreview__previewImage > .uploadPreview__remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #000;
}

.uploadPreview__field .uploadPreview__field--ghost.uploaded {
  border: none;
}

.uploadPreview__field .uploadPreview__field--ghost.uploaded > i {
  display: none;
}

.link--normal {
  text-decoration: underline;
  color: #442EBA;
}

.alertMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 18px;
  margin-bottom: 8px;
  color: #ffffff;
}

.alertMessage .alertMessage__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertMessage .alertMessage__left i {
  margin-right: 12px;
}

.alertMessage .alertMessage__left p {
  line-height: 120%;
}

.alertMessage .alertMessage__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.alertMessage.error {
  background-color: #E66063;
}

.alertMessage.error i.success {
  display: none;
}

.alertMessage.success {
  background-color: rgba(39, 137, 75, 0.75);
}

.alertMessage.success i.error {
  display: none;
}

.admin__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 250px;
  height: 100%;
}

.admin__sidebar .admin__sidebar--logo {
  padding: 42px 28px;
  width: 100%;
}

.admin__sidebar .admin__sidebar--logo > div {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
}

.admin__sidebar .admin__sidebar--logo > div h3 {
  font-weight: 500;
  letter-spacing: 1px;
}

.admin__sidebar .admin__sidebar--links ul li a {
  padding: 12px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.25);
}

.admin__sidebar .admin__sidebar--links ul li a i {
  margin-right: 24px;
}

.admin__sidebar .admin__sidebar--links ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.admin__sidebar .admin__sidebar--links ul li.active a {
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.admin__sidebar .admin__sidebar--footer {
  padding: 28px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin__sidebar .admin__sidebar--footer > a {
  height: 200px;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
}

.singleCourse {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 5px;
}

.singleCourse .singleCourse__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleCourse .singleCourse__left .singleCourse__preview {
  width: 56px;
  height: 56px;
  margin-right: 24px;
}

.singleCourse .singleCourse__left .singleCourse__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleCourse .singleCourse__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singleCourse .singleCourse__right a {
  margin-left: 12px;
}

.auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.auth-wrapper .auth-wrapper__left {
  width: 50%;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-wrapper .auth-wrapper__left .auth-wrapper__left__content {
  width: 70%;
  max-width: 600px;
}

.auth-wrapper .auth-wrapper__left .auth-wrapper__left__content h1 {
  margin-bottom: 32px;
}

.auth-wrapper .auth-wrapper__left .auth-wrapper__left__content p {
  margin-bottom: 64px;
}

.auth-wrapper .auth-wrapper__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-wrapper .auth-wrapper__right form {
  width: 70%;
  max-width: 500px;
}

.auth-wrapper .auth-wrapper__right form .auth-wrapper__right__header {
  margin-bottom: 16px;
}

.auth-wrapper .auth-wrapper__right form .auth-wrapper__right__header h2 {
  margin-bottom: 8px;
}

.auth-wrapper .auth-wrapper__right form .auth-wrapper__right__body {
  margin-top: 24px;
}

.auth-wrapper .auth-wrapper__right form .auth-wrapper__right__body .btn__container .btn {
  width: 100%;
  margin-top: 10px;
}

.createCourse__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 160px;
}

.createCourse__container .createCourse__right {
  background-color: black;
}

.admin__content {
  margin-left: 250px;
  padding: 42px 90px;
}

.admin__content .admin__content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.admin__content .admin__content__header .admin__header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__content .admin__content__header .btn--tool {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 8px;
  max-height: 40px;
  border-radius: 5px;
  color: #DCE1DE;
}

.admin__content .admin__content__header .btn--tool:not(:last-child) {
  margin-right: 12px;
}

.admin__content .admin__content__header .input--search {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 400px;
}

.admin__content .admin__content__header .input--search i {
  margin-right: 12px;
}

.admin__content .admin__content__header .input--search input {
  width: 100%;
}

.admin__content .admin__content__body .admin__body--title {
  margin-bottom: 32px;
}
/*# sourceMappingURL=main.css.map */