body, textarea{
    font-family: "Mulish", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    line-height: 120%;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 48px;
}

h3, i{
    font-size: 24px;
}

p, input:not(.btn), textarea{
    font-size: 16px;
    line-height: 180%;
    font-weight: 400;
}

.btn{
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn--small{
    font-size: 14px;
    font-weight: 600;
}