/*******************
    FONT VARIABLES
 *******************/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FCFCFE;
  color: #22405F;
  font-family: "Mulish";
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

.siteContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.section--link {
  font-weight: 600;
  text-decoration: underline;
}

h1, h2, h3, .section--h1, .section--h2, .section--h3 {
  font-weight: 800;
  line-height: 120%;
}

h4, h5, h6, .section--h4, .section--h5, .section--h6 {
  font-weight: 600;
  line-height: 120%;
}

h1, .section--h1 {
  font-size: 72px;
}

h2, .section--h2 {
  font-size: 48px;
}

h3, .section--h3 {
  font-size: 32px;
}

h4, .section--h4 {
  font-size: 24px;
}

p, span, input, button, a {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}

.text--bold {
  font-weight: 600;
}

.pageContent__courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-bottom: 160px;
}

.pageContent__sections {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageContent--auth {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.pageContent__left--auth {
  height: 100vh;
  width: 40%;
  background-color: #22405F;
}

.pageContent__left--auth .pageContent__left__header--auth {
  padding: 32px 48px;
}

.pageContent__left--auth .pageContent__left__content--auth {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 72px;
  color: #ffffff;
}

.pageContent__left--auth .pageContent__left__content--auth h1 {
  margin-bottom: 24px;
}

.pageContent__right--auth {
  height: 100vh;
  width: 60%;
  border: 1px solid red;
  padding: 162px;
}

.pageContent__right--auth .pageContent__right__header--auth {
  margin-bottom: 36px;
}

.lessonContent {
  max-width: 600px;
  margin: auto;
}

.lessonContent h3 {
  margin-bottom: 16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0px;
  margin-bottom: 64px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

.navbar .navbar__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar .navbar__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar__content ul li {
  margin-left: 24px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #22405F;
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 800;
  font-family: "Mulish";
}

.btn--green {
  color: #0FB582;
}

.btn--green.btn--filled {
  border: 2px solid #0FB582;
  background-color: rgba(15, 181, 130, 0.06);
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}

.btn--green.btn--filled:hover {
  background-color: #0FB582;
  color: #ffffff;
}

.btn--black {
  background-color: #22405F;
  color: #ffffff;
}

.pageContent {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
}

.courseCard {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 24px rgba(34, 64, 95, 0.05);
          box-shadow: 0 8px 24px rgba(34, 64, 95, 0.05);
}

.courseCard a {
  padding: 38px 32px 32px;
}

.courseCard__preview {
  width: 50px;
  height: 50px;
  margin-bottom: 18px;
}

.courseCard__title {
  margin-bottom: 10px;
}

.courseCard__meta {
  color: rgba(32, 64, 95, 0.5);
}

.sectionCard {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 24px rgba(34, 64, 95, 0.05);
          box-shadow: 0 8px 24px rgba(34, 64, 95, 0.05);
  padding: 42px 56px;
  max-width: 600px;
  margin-bottom: 42px;
}

.sectionCard h3 {
  margin-bottom: 16px;
}

.sectionCard p {
  margin-bottom: 24px;
}

.sectionCard ul li * {
  font-size: 24px;
}

.pageContent__header--primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 160px;
}

.pageContent__header--primary h1 {
  text-transform: capitalize;
  margin-bottom: 32px;
}

.pageContent__header--primary p {
  max-width: 700px;
}

.pageContent__header--secondary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 64px;
}

.pageContent__header--secondary .pageContent__header__preview {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}

.pageContent__header--secondary .pageContent__header__preview img {
  width: 100%;
  height: 100%;
}

.pageContent__header--secondary h1 {
  text-transform: capitalize;
  margin-bottom: 24px;
}

.pageContent__header--secondary p {
  max-width: 500px;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.inputContainer label {
  margin-bottom: 8px;
  font-weight: 500;
}

.inputContainer input, .inputContainer select, .inputContainer textarea {
  height: 44px;
  outline: none;
  border: 1px solid rgba(32, 64, 95, 0.1);
  border-radius: 4px;
  padding: 12px 16px;
  color: #22405F;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Mulish";
  font-size: 16px;
}

.inputContainer textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
}

.inputContainer__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputContainer__half .inputContainer {
  width: 48%;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttonContainer a:first-child {
  margin-right: 30px;
}

.createSection__formContainer {
  background-color: #ffffff;
  border: 1px solid rgba(32, 64, 95, 0.1);
  padding: 12px 18px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.createSection__formContainer .streched__content {
  display: none;
}

.createSection__formContainer .rolled__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createSection__formContainer .rolled__content .rolled__content__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.createSection__formContainer .rolled__content .rolled__content__cta span {
  margin-left: 12px;
  color: rgba(32, 64, 95, 0.1);
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.createSection__formContainer .rolled__content .rolled__content__cta span:hover {
  color: #22405F;
}

.createSection__formContainer.streched {
  padding: 32px;
}

.createSection__formContainer.streched .streched__content {
  display: block;
}

.createSection__formContainer.streched .rolled__content {
  display: none;
}

.createSection__formContainer.streched.rolled .rolled__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.streched__content ul li {
  margin-bottom: 8px;
  margin-left: 12px;
}

.streched__content ul li span {
  cursor: pointer;
}

.streched__content .createLink {
  color: rgba(32, 64, 95, 0.1);
  cursor: pointer;
}

.streched__content .createLink i {
  margin-right: 8px;
}

.streched__content .createLink:hover {
  color: rgba(32, 64, 95, 0.5);
}

.createSection__createContainer {
  border: 2px dashed rgba(32, 64, 95, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 12px 18px;
  color: rgba(32, 64, 95, 0.1);
  border-radius: 5px;
  margin-bottom: 24px;
}

.createSection__createContainer i, .createSection__createContainer span {
  font-size: 18px;
}

.createSection__createContainer i {
  margin-right: 12px;
}

.createSection__createContainer:hover {
  background-color: #FDFDFE;
}

.alertMessages__container {
  position: absolute;
  right: 32px;
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alertMessage {
  position: relative;
  background-color: #ffffff;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 24px;
  margin-top: 12px;
  -webkit-animation: popup 0.3s ease;
          animation: popup 0.3s ease;
}

.alertMessage.success .alertMessage__icon {
  color: #0FB582;
}

.alertMessage.success .alertMessage__icon .fa-exclamation-circle {
  display: none;
}

.alertMessage.success .alertMessage__timer {
  background-color: #0FB582;
}

.alertMessage.error .alertMessage__icon {
  color: #D90429;
}

.alertMessage.error .alertMessage__icon .fa-check-circle {
  display: none;
}

.alertMessage.error .alertMessage__timer {
  background-color: #D90429;
}

.alertMessage .alertMessage__icon {
  font-size: 42px;
  margin-right: 24px;
}

.alertMessage .alertMessage__timer {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: line 5s linear;
          animation: line 5s linear;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.stepper {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.stepper .stepper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stepper .stepper__list .stepper__step {
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stepper .stepper__list .stepper__step a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepper .stepper__list .stepper__step a .stepper__step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  color: rgba(32, 64, 95, 0.25);
  border: 1px solid rgba(32, 64, 95, 0.25);
  margin-bottom: 8px;
}

.stepper .stepper__list .stepper__step a .stepper__step__title {
  color: rgba(32, 64, 95, 0.25);
  max-width: 100px;
  text-align: center;
  line-height: 120%;
  font-size: 14px;
}

.stepper .stepper__list .stepper__step:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 50%;
  top: 18px;
  z-index: -1;
  height: 6px;
  border: 1px solid rgba(32, 64, 95, 0.25);
  background-color: #ffffff;
}

.stepper .stepper__list .stepper__step.active .stepper__step__number {
  background-color: #22405F;
  color: #ffffff;
  border: 1px solid #22405F;
}

.stepper .stepper__list .stepper__step.active .stepper__step__title {
  color: #22405F;
}

.stepper .stepper__list .stepper__step.active:not(:first-child)::before {
  border: 1px solid #22405F;
  background-color: #22405F;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal__item {
  width: 600px;
  border-radius: 5px;
  max-height: 600px;
  background-color: white;
  overflow: auto;
  padding: 64px 42px;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row, .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adminContainer {
  min-height: 100vh;
  overflow: hidden;
}

.adminContainer__sidebar {
  background-color: #22405F;
  width: 240px;
}

.adminContainer__sidebar .adminContainer__sidebar__header {
  padding: 38px 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.adminContainer__sidebar .adminContainer__sidebar__navbar {
  color: #fff;
}

.adminContainer__sidebar .adminContainer__sidebar__navbar li a {
  padding: 12px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminContainer__sidebar .adminContainer__sidebar__navbar li a i {
  width: 46px;
  font-size: 24px;
}

.adminContainer__sidebar .adminContainer__sidebar__navbar li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.adminContainer__sidebar .adminContainer__sidebar__navbar li:not(:last-child) {
  margin-bottom: 8px;
}

.adminContainer__content {
  overflow: hidden;
  width: 100%;
  padding: 38px 64px;
}

.adminContainer__content .adminContainer__content__header {
  height: 42px;
  margin-bottom: 74px;
}

.adminContainer__content .adminContainer__content__main .adminContainer__main__title {
  margin-bottom: 24px;
  text-transform: capitalize;
}

.adminContainer__createCourse__form {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
}

.adminContainer__createCourse {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */