.adminContainer{
    min-height: 100vh;
    overflow: hidden;
}

// sidebar
.adminContainer__sidebar{
    background-color: color(black, base);
    width: 240px;

    .adminContainer__sidebar__header{
        padding: 38px 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }

    .adminContainer__sidebar__navbar{
        color: #fff;
        li{
            a{
                padding: 12px 39px;
                display: flex;
                align-items: center;
                i{
                    width: 46px;
                    font-size: 24px;
                }
            }

            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.05);
            }

            &:not(:last-child){
                margin-bottom: 8px;
            }
        }
    }
}

// ontent
.adminContainer__content{
    overflow: hidden;
    width: 100%;
    padding: 38px 64px;
    .adminContainer__content__header{
        height: 42px;
        margin-bottom: 74px;
    }
    .adminContainer__content__main{
        .adminContainer__main__title{
            margin-bottom: 24px;
            text-transform: capitalize;
        }
    }
}

.adminContainer__createCourse__form{
    width: 100%;
    max-width: 575px;
    margin: 0 auto;

}

