.btn{
    padding: 18px 48px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.btn--outlined{
    border: 1px solid #000;
    color: #000;
    background-color: none;
}

.btn--filled{
    background-color: #000;
    color: #fff;
}

