.pageContent--auth{
    grid-column: 1/13;
}

.pageContent__left--auth{

    height: 100vh;
    width: 40%;
    background-color: color(black, base);
    .pageContent__left__header--auth{
        padding: 32px 48px;
    }

    .pageContent__left__content--auth{
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 0 72px;
        color: #ffffff;
        h1{
            margin-bottom: 24px;
        }
    }
}

.pageContent__right--auth{
    height: 100vh;
    width: 60%;
    border: 1px solid red;
    padding: 162px;
    .pageContent__right__header--auth{
        margin-bottom: 36px;
    }
}
